body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.fb-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3b5998;
  text-decoration: none;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.fb-button:hover {
  background-color: #2d4373;
}

.fb-button img {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}
